body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.8rem;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

header {
    display: flex;
    background: black;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; /* Texto com o logo no canto esquerdo e o restante no direito */
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 8px;
    background: rgb(150, 37, 37);
}

.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 20px;
}

.banner img {
    max-width: 500px;
}


h1 {
    text-align: center;
    margin-top: 10rem;
}

img {
    max-width: 100%;
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.flex>div {
    flex: 200px;
    margin: 10px 10px;
}


.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 8px;
    background: rgb(150, 37, 37);
}

footer {
    display: flex;
    background: rgb(109, 107, 107);
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; /* Texto com o logo no canto esquerdo e o restante no direito */
}